.pricing-plan-card {
    width: 29.23vw; /* 421px */
    padding: 1.67vw; /* 24px */
    border-radius: 1.39vw; /* 20px */
    border: 0.07vw solid #E2E8F0; /* 1px */
    background: #FFFFFF;
}

.pricing-plan-tag {
    display: inline-block;
    width: 9.17vw; /* 132px */
    padding: 0.56vw 2.22vw; /* 8px 32px */
    border-radius: 2.08vw; /* 30px */
    border: 0.07vw solid #D97706; /* 1px */
    color: #D97706;
    background: #FEF3C7;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 1.111vw;
    font-weight: 400;
    line-height: 1.667vw;
    letter-spacing: 0.02em;
    text-align: center;

}

.training-duration {
    font-family: Gilroy-Bold;
    margin-top: 2.22vw; /* 32px */
    font-size: 2.22vw; /* 32px */
    font-weight: 400;
    line-height: 2.78vw; /* 40px */
    letter-spacing: 0.04em;
    text-align: left;
}

.training-desc {
    margin-top: 0.56vw; /* 8px */
    font-family: Gilroy-Regular;
    font-size: 1.11vw; /* 16px */
    font-weight: 400;
    line-height: 1.67vw; /* 24px */
    letter-spacing: 0.02em;
    text-align: left;
}

.training-price {
    margin-top: 2.22vw; /* 32px */
    margin-bottom: 2.22vw; /* 32px */
    font-family: Gilroy-Bold;
    font-size: 2.22vw; /* 32px */
    font-weight: 400;
    line-height: 2.78vw; /* 40px */
    letter-spacing: 0.04em;
    text-align: left;
}

.training-price-para {
    font-family: Gilroy-Regular;
    font-size: 1.11vw; /* 16px */
    font-weight: 400;
    line-height: 1.67vw; /* 24px */
    letter-spacing: 0.02em;
    text-align: left;
}

.training-feature-heading {
    margin-top: 2.22vw; /* 32px */
}

.training-feature-heading,.training-features {
    font-family: Gilroy-Regular;
    font-size: 1.11vw; /* 16px */
    font-weight: 400;
    line-height: 1.67vw; /* 24px */
    letter-spacing: 0.02em;
    text-align: left;
}

.training-features {
    list-style: none;
}

.training-feature {
    display: flex;
    align-items: center;
}

.register-now-btn {
    width: 100%;
}

.training-feature p {
    margin-left: 0.28vw; /* 4px */
}
