.outline-card-container {
    margin-top: 2.78vw; /* 40px */
    width: 21.53vw; /* 310px */
    height: 24.17vw; /* 348px */
    background-color: #FFFFFF;
    border-radius: 1.39vw; /* 20px */
}

.card-icon-div {
    background: #E1E7F8;
    padding: 1.11vw 0px; /* 16px 0px */
    border-radius: 1.39vw 1.39vw 0 0; /* 20px 20px 0 0 */
    display: flex;
    justify-content: center;
    height: 5.56vw; /* 80px */
}
.card-icon{
    width: 3.333vw;
}

.outline-card-text {
    padding: 1.67vw; /* 24px */
    background: #FFFFFF;
    border-radius: 0px 0px 1.39vw 1.39vw; /* 0px 0px 20px 20px */
}

.card-outline-heading {
    font-family: Gilroy-Bold;
    font-size: 1.67vw; /* 24px */
    font-weight: 400;
    line-height: 2.22vw; /* 32px */
    letter-spacing: 0.02em;
    text-align: left;
}

.card-outline-para {
    margin-top: 0.28vw; /* 4px */
    margin-left: 1.67vw; /* 24px */
    font-family: Gilroy-Medium;
    font-size: 1.11vw; /* 16px */
    font-weight: 400;
    line-height: 1.67vw; /* 24px */
    letter-spacing: 0.02em;
    text-align: left;
}
