.tech-fellowship-banner-container{
    padding: 80px 64px;
}
.in-person-container{
    padding: 24px 64px;
    /* padding-right: 0px; */
    background: #020617;
}
.feature-container{
    padding: 80px 64px;
}
.feature-heading{
    /* //styleName: Heading/H1/Bold; */
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-align: center;

}
.feature-para{
    /* //styleName: Sub heading/H2/Regular; */
    /* margin-top: 12px; */
    margin: 12px auto auto auto;
    max-width: 734px;
    font-family: Gilroy-Regular;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;
}
.in-person-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.div-center-btn{
    display: flex;
    justify-content: center;
    margin-top: 26px;
}
.program-outline-heading{
    /* //styleName: Heading/H1/Bold; */
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.04em;
    color: #FFFFFF; 
    /* text-align: center; */
}
.program-outline-container{
    background: #303778;
    padding: 60px 64px;
}
/* .program-outline-cards-container{
    display: flex;
    gap: 24px;
} */
 .program-outline-text-div{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
 }
 .program-outline-trending-icon{
    width: 40px;
    height: 40px;
 }
 .how-it-works-section{
    padding: 60px 64px;
 }
 .course-curriculum-container{
    background: #E1E7F8;
    padding: 60px 0;
 }
 .course-curriculum-heading{
    /* //styleName: Heading/H1/Bold; */
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-align: center;
 }
 .course-curriculum-inner-container{
    max-width: 1200px;
    background: #A4BAEC;
    margin: 0 auto;
    padding: 60px 40px 60px 40px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
 }
 .hands-on-projects-heading{
    margin: 0 auto;
    text-align: center;
    max-width: 1020px;
    /* //styleName: Heading/H1/Bold; */
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.04em;
    /* text-align: center; */
 }
 .hands-on-projects-card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .hand-on-projects-section{
    padding: 60px;
    text-align: center;
 }
 .pricing-plan-section{
    background: #303778;
    padding: 158px 56px;
 }
 .pricing-plan-card-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 24px;
 }
 .pricing-plan-heading{
    /* //styleName: Heading/H1/Bold; */
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
 }