.feature-card {
    width: 28.5vw; /* 421px */
    border: 0.07vw solid #E2E8F0; /* 1px */
    padding: 1.39vw; /* 20px */
    border-radius: 1.39vw; /* 20px */
    background: #F8FAFC;
    margin-top: 2.78vw; /* 40px */
    margin-bottom: 0.97vw; /* 14px */
}
.feature-card-img{
    width: 100%;
}

.feature-card-heading {
    font-family: Gilroy-SemiBold;
    font-size: 1.67vw; /* 24px */
    font-weight: 400;
    line-height: 2.22vw; /* 32px */
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 1.39vw; /* 20px */
}
