.faq-item {
    width: 59.17vw; /* 852px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-hr {
    border: 0.07vw solid #E7EAEE; /* 1px */
}

.faq-accordian {
    width: 59.17vw; /* 852px */
    margin-top: 1.39vw; /* 20px */
}

.faq-ques {
    cursor: pointer;
    padding-top: 1.39vw; /* 20px */
    padding-bottom: 1.11vw; /* 16px */
    font-family: Gilroy-Bold;
    font-size: 1.11vw; /* 16px */
    font-weight: bold;
    line-height: 1.67vw; /* 24px */
    letter-spacing: 0.02em;
    text-align: left;
}

.faq-icon{
    width: 1.667vw;
}
.faq-ans {
    padding-bottom: 1.11vw; /* 16px */
    font-family: Gilroy-Regular;
    font-size: 1.11vw; /* 16px */
    font-weight: 400;
    line-height: 1.67vw; /* 24px */
    letter-spacing: 0.02em;
    text-align: left;
}
